* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculatrice {
	width: 242px;
}

.result {
	height: 60px;
	width: 240px;
	border-radius: 5px 5px 0 0;
	position: relative;
	background-color: #4c4c4c;
}

.options {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
}

span {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, 6);
}

.quit {
	background-color: #ed695e;
}

.reduce {
	background-color: #f4be4f;
	margin: 0 5px;
}

.increase {
	background-color: #61c554;
	margin: 0 5px;
}

#inner-result {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: white;
	font-size: 30px;
}

.buttons {
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

button {
	height: 60px;
	width: 60px;
	background-color: #696969;
	color: white;
	cursor: pointer;
	border: none;
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
}

.bigger {
	width: 120px;
}

.darker {
	background-color: #4c4c4c;
	border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.orange {
	background-color: #f2a23c;
}

.bottom-left {
	border-radius: 0 0 0 5px;
}

.bottom-right {
	border-radius: 0 0 5px 0;
}
